<script type="text/javascript">
    window.onload = function () {
        cbcs = document.getElementById('cs');
        cbds = document.getElementById('ds');
        cbus = document.getElementById('us');

        cbcm = document.getElementById('cm');
        cbdm = document.getElementById('dm');
        cbum = document.getElementById('um');

        cbcs.addEventListener('change', e => {
            if (e.target.checked) document.getElementById("vs").checked = true;
        });
        cbds.addEventListener('change', e => {
            if (e.target.checked) document.getElementById("vs").checked = true;
        });
        cbus.addEventListener('change', e => {
            if (e.target.checked) document.getElementById("vs").checked = true;
        });

        cbcm.addEventListener('change', e => {
            if (e.target.checked) document.getElementById("vm").checked = true;
        });
        cbdm.addEventListener('change', e => {
            if (e.target.checked) document.getElementById("vm").checked = true;
        });
        cbum.addEventListener('change', e => {
            if (e.target.checked) document.getElementById("vm").checked = true;
        });
    }


        $(document).on("click", ".open-DeleteUserDialog", function () {
            let userId = $(this).data('id');
            let userName = $(this).data('username');
            $(".modal-footer #userId").val(userId);
            $(".modal-body span").text(userName);

            document.getElementById("delete").disabled = true;

            /* event listener */
            document.getElementsByName("confirm")[0].addEventListener('change', doThing);


            /* function */
            function doThing() {
                if (document.getElementsByName("confirm")[0].value === ('delete ' + userName))
                    document.getElementById("delete").disabled = false;
            }
        });



        $(document).on("click", ".open-EditUserDialog", function () {
            let userId = $(this).data('id');
            let firstName = $(this).data('fn');
            let lastName = $(this).data('ln');
            let username = $(this).data('username');
            let timeOut = $(this).data('to');
            let admin = $(this).data('admin');
            let vs = $(this).data('vs');
            let cs = $(this).data('cs');
            let ds = $(this).data('ds');
            let us = $(this).data('us');
            let vm = $(this).data('vm');
            let cm = $(this).data('cm');
            let dm = $(this).data('dm');
            let um = $(this).data('um');

            document.getElementById('role2').checked = admin;
            document.getElementById('role1').checked = !admin;
            document.getElementById('vsm').checked = vs;
            document.getElementById('csm').checked = cs;
            document.getElementById('dsm').checked = ds;
            document.getElementById('usm').checked = us;
            document.getElementById('vmm').checked = vm;
            document.getElementById('cmm').checked = cm;
            document.getElementById('dmm').checked = dm;
            document.getElementById('umm').checked = um;

            $(".modal-body #userId").val(userId);
            $(".modal-body #firstName").val(firstName);
            $(".modal-body #lastName").val(lastName);
            $(".modal-body #username").val(username);
            $(".modal-body #timeOut").val(timeOut);

        });



</script>


<div class="row mt-5 justify-content-md-center">
    <div class="card-body">

        <h1 class="text-center mb-3">
            <i class="fas fa-users-cog"></i> Manage Users Console
        </h1>
        <% include ./partials/messages.ejs %>

        <a href="/menu/manage/allUsers" class="btn btn-secondary mr-1 disabled">
            <i class="fas fa-users"></i> All Users
        </a>
        <a href="/menu/manage/addUser" class="btn btn-secondary">
            <i class="fas fa-user-plus"></i> Add User
        </a>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            <% userList.forEach(function(user) { %>
                <div class="col">
                    <div class="card mt-2">
                        <div class="card-body">
                            <strong>Name:</strong> <%= user.firstName %> <%= user.lastName %><br>
                            <strong>Username:</strong> <%= user.username %><br>
                            <strong>Email:</strong> <%= user.email %><br>
                            <strong>Date Created:</strong> <%= user.created %><br>
                            <strong>Session Time Out:</strong>
                            <% if(user.isAdmin) { %>
                                <i class="fas fa-infinity"></i>
                            <% } else { %>
                                <%= user.timeOut %>
                            <% } %>
                            <br>
                            <div class="row">
                                <div class="col">
                                    <strong>Role:</strong>
                                    <% if(user.isAdmin) { %>
                                        <p class="text-danger"><i class="fas fa-crown"></i> Admin </p>
                                    <% } else { %>
                                        <p class="text-primary"><i class="fas fa-user"></i> User </p>
                                    <% } %>
                                </div>
                                <div class="col">
                                    <strong>Activated:</strong>
                                    <% if(user.isActivated) { %>
                                        <p class="text-danger"><i class="fas fa-fire"></i> Yes </p>
                                    <% } else { %>
                                        <p class="text-primary"><i class="fas fa-snowflake"></i> No </p>
                                    <% } %>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="text-dark"><strong>Subscriptions:</strong></p>
                                    <% if(user.vs) { %>
                                        <p class="text-success"><i class="fas fa-check-circle"></i> View</p>
                                    <% } else { %>
                                        <p class="text-danger"><i class="fas fa-times-circle"></i> View</p>
                                    <% } %>
                                    <% if(user.cs) { %>
                                        <p class="text-success"><i class="fas fa-check-circle"></i> Create</p>
                                    <% } else { %>
                                        <p class="text-danger"><i class="fas fa-times-circle"></i> Create</p>
                                    <% } %>
                                    <% if(user.ds) { %>
                                        <p class="text-success"><i class="fas fa-check-circle"></i> Delete</p>
                                    <% } else { %>
                                        <p class="text-danger"><i class="fas fa-times-circle"></i> Delete</p>
                                    <% } %>
                                    <% if(user.us) { %>
                                        <p class="text-success"><i class="fas fa-check-circle"></i> Update</p>
                                    <% } else { %>
                                        <p class="text-danger"><i class="fas fa-times-circle"></i> Update</p>
                                    <% } %>
                                </div>
                                <div class="col">
                                    <p class="text-dark"><strong>Movies:</strong></p>
                                    <% if(user.vm) { %>
                                        <p class="text-success"><i class="fas fa-check-circle"></i> View</p>
                                    <% } else { %>
                                        <p class="text-danger"><i class="fas fa-times-circle"></i> View</p>
                                    <% } %>
                                    <% if(user.cm) { %>
                                        <p class="text-success"><i class="fas fa-check-circle"></i> Create</p>
                                    <% } else { %>
                                        <p class="text-danger"><i class="fas fa-times-circle"></i> Create</p>
                                    <% } %>
                                    <% if(user.dm) { %>
                                        <p class="text-success"><i class="fas fa-check-circle"></i> Delete</p>
                                    <% } else { %>
                                        <p class="text-danger"><i class="fas fa-times-circle"></i> Delete</p>
                                    <% } %>
                                    <% if(user.um) { %>
                                        <p class="text-success"><i class="fas fa-check-circle"></i> Update</p>
                                    <% } else { %>
                                        <p class="text-danger"><i class="fas fa-times-circle"></i> Update</p>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">

                            <!-- Button trigger delete modal -->
                            <a data-toggle="modal"
                               data-id="<%= user.id %>"
                               data-username="<%= user.username %>"
                               href="#deleteUserModal"
                               class="open-DeleteUserDialog btn btn-danger mr-1 float-right">
                                <i class="fas fa-user-times"></i> Delete
                            </a>

                            <!-- Button trigger edit modal -->
                            <a data-toggle="modal"
                               data-id="<%= user.id %>"
                               data-fn="<%= user.firstName %>"
                               data-ln="<%= user.lastName %>"
                               data-username="<%= user.username %>"
                               data-to="<%= user.timeOut %>"
                               data-admin="<%= user.isAdmin %>"
                               data-vs="<%= user.vs %>"
                               data-cs="<%= user.cs %>"
                               data-ds="<%= user.ds %>"
                               data-us="<%= user.us %>"
                               data-vm="<%= user.vm %>"
                               data-cm="<%= user.cm %>"
                               data-dm="<%= user.dm %>"
                               data-um="<%= user.um %>"
                               href="#editUserModal"
                               class="open-EditUserDialog btn btn-info mr-1 float-right">
                                <i class="fas fa-user-edit"></i> Edit
                            </a>

                            <!-- Edit Modal -->
                            <div class="modal fade" id="editUserModal" tabindex="-1" role="dialog"
                                 aria-labelledby="editUserModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="editUserModalLabel">Edit User</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <!-- Edit Form -->
                                            <form action="/menu/manage/editUserForm" method="POST">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label for="firstName"><strong>First Name</strong></label>
                                                            <input
                                                                    type="text"
                                                                    id="firstName"
                                                                    name="firstName"
                                                                    class="form-control"
                                                                    value="firstName"
                                                            />
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label for="lastName"><strong>Last Name</strong></label>
                                                            <input
                                                                    type="text"
                                                                    id="lastName"
                                                                    name="lastName"
                                                                    class="form-control"
                                                                    value="lastName"
                                                            />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label for="username"><strong>Username</strong></label>
                                                            <input
                                                                    type="text"
                                                                    id="username"
                                                                    name="username"
                                                                    class="form-control"
                                                                    value="username"
                                                            />
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label for="timeOut"><strong>Session Time
                                                                    Out</strong></label>
                                                            <input
                                                                    type="number"
                                                                    id="timeOut"
                                                                    name="timeOut"
                                                                    class="form-control"
                                                                    value="timeOut"
                                                            />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <input class="form-group" type="radio" name="isAdmin"
                                                                   id="role1"
                                                                   value="false">
                                                            <label class="form-group-label mb-lg-2" for="role1">
                                                                User
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <input class="form-group" type="radio" name="isAdmin"
                                                                   id="role2"
                                                                   value="true">
                                                            <label class="form-group-label mb-lg-2" for="role2">
                                                                Admin
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <p class="text-dark"><strong>Subscriptions:</strong></p>
                                                        <div class="form-group">
                                                            <input class="form-group" type="checkbox" name="vs"
                                                                   value="true" id="vsm">
                                                            <label for="vsm">View</label>
                                                        </div>
                                                        <div class="form-group">
                                                            <input class="form-group" type="checkbox" name="cs"
                                                                   value="true" id="csm">
                                                            <label for="csm">Create</label>
                                                        </div>
                                                        <div class="form-group">
                                                            <input class="form-group" type="checkbox" name="ds"
                                                                   value="true" id="dsm">
                                                            <label for="dsm">Delete</label>
                                                        </div>
                                                        <div class="form-group">
                                                            <input class="form-group" type="checkbox" name="us"
                                                                   value="true" id="usm">
                                                            <label for="usm">Update</label>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <p class="text-dark"><strong>Movies:</strong></p>
                                                        <div class="form-group">
                                                            <input class="form-group" type="checkbox" name="vm"
                                                                   value="true" id="vmm">
                                                            <label for="vmm">View</label>
                                                        </div>
                                                        <div class="form-group">
                                                            <input class="form-group" type="checkbox" name="cm"
                                                                   value="true" id="cmm">
                                                            <label for="cmm">Create</label>
                                                        </div>
                                                        <div class="form-group">
                                                            <input class="form-group" type="checkbox" name="dm"
                                                                   value="true" id="dmm">
                                                            <label for="dmm">Delete</label>
                                                        </div>
                                                        <div class="form-group">
                                                            <input class="form-group" type="checkbox" name="um"
                                                                   value="true" id="umm">
                                                            <label for="umm">Update</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <input type="hidden" name="userId" id="userId" value="userId"/>
                                                <button type="button" class="btn btn-secondary mr-1 float-right"
                                                        data-dismiss="modal">
                                                    Discard
                                                </button>
                                                <button type="submit" class="btn btn-info mr-1 float-right">
                                                    <i class="fas fa-user-edit"></i> Save Changes
                                                </button>
                                            </form>
                                            <!-- End form -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Delete Modal -->
                            <div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog"
                                 aria-labelledby="deleteUserModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteUserModalLabel">Are you absolutely
                                                sure?</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>This action cannot be undone. This will permanently delete the <b><span/>'s</b>,
                                                permissions, data and subscriptions. </p>
                                            <p>Please type <b>delete <span/></b> to confirm.</p>
                                            <input
                                                    type="text"
                                                    name="confirm"
                                                    class="form-control"
                                                    placeholder="Enter confirmation here"
                                            />
                                        </div>
                                        <div class="modal-footer">
                                            <form action="/menu/manage/deleteUserForm" method="POST">
                                                <input type="hidden" name="userId" id="userId" value="userId"/>
                                                <button type="submit" id="delete" class="btn btn-block btn-danger">
                                                    I understand the consequences, delete this user
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</div>

