<script type="text/javascript">

    $(document).on("click", ".open-DeleteMovieDialog", function () {
        let movieId = $(this).data('id');
        let title = $(this).data('title');
        let image = $(this).data('image');
        $(".modal-footer #movieId").val(movieId);
        $(".modal-footer #title").val(title);
        $(".modal-footer #image").val(image);
        $(".modal-body span").text(title);

        document.getElementById("deleteMovie").disabled = true;

        /* event listener */
        document.getElementsByName("confirm")[0].addEventListener('change', doThing);


        /* function */
        function doThing() {
            if (document.getElementsByName("confirm")[0].value === ('delete ' + title))
                document.getElementById("deleteMovie").disabled = false;
        }
    });

    $(document).on("click", ".open-EditMovieDialog", function () {
        let movieId = $(this).data('id');
        let title = $(this).data('name');
        let premiered = $(this).data('premiered');
        let genres = $(this).data('genres');
        let image = $(this).data('image');

        $(".modal-body #movieId").val(movieId);
        $(".modal-body #title").val(title);
        $(".modal-body #premiered").val(premiered);
        $(".modal-body #genres").val(genres);
        $(".modal-body #image").val(image);

    });
    window.onload = function () {
        document.querySelector('form').onsubmit = function () {
            this.setAttribute('action', "/menu/movies?find=" + document.querySelector('input[name=find]').value)
        }
    }
</script>

<div class="row mt-5 justify-content-md-center">
    <div class="card-body">

        <h1 class="text-center mb-3">
            <i class="fas fa-video"></i> Movies
        </h1>
        <% include ./partials/messages.ejs %>

        <form class="form" action="/baseurl/" method="GET">

            <a href="/menu/movies?find=" class="btn btn-secondary mr-1 disabled">
                <i class="fas fa-list"></i> All Movies
            </a>
            <% if(permissions.cm){ %>
                <a href="/menu/addMovie" class="btn btn-secondary">
                    <i class="fas fa-plus-circle"></i> Add Movie
                </a>
            <% } %>

            <input class="form-control mr-sm-2 input-sm w-25 float-right" type="text" name="find"
                   placeholder="Find movie"
                   aria-label="Search">
            <button class="btn btn-outline-primary float-right mr-4" type="submit"><i class="fas fa-search"></i> Search
            </button>

        </form>
        <% if(movies.length === 0) { %>
            <div class="badge bg-primary text-wrap mt-3 " style="width: 15rem; align-content: center">
                <h1>Nothing found</h1>
            </div>
        <% } else { %>
            <% include ./partials/pagination.ejs %>
                <div class="row row-cols-1 row-cols-md-2 g-5  ">
                    <% movies.forEach(function(m) { %>
                        <div class="col">
                            <div class="card mb-3 p-2 " style="max-width: 500px;">
                                <div class="row g-0 ">
                                    <div class="col-md-5">
                                        <img style="
                width: 190px;
                height: 260px;
                object-fit: cover;"
                                             class="card-img-top"
                                             alt="Card image cap"
                                             src="
                    <% if(m.image) { %>
                        <%= m.image %>
                    <% } else { %>
                        /img/img.png
                    <% } %>
                    ">

                                    </div>
                                    <div class="col-md-7">
                                        <div class="card-body">
                                            <h5 class="card-title"><%= m.name %>
                                                , <%= m.premiered.substring(0, 4) %></h5>
                                            <p class="card-text">Genres: <%= m.genres %></p>

                                            <% if(m.subs.length > 0) { %>
                                                <strong>Movie watched by:</strong> <br> <br>
                                                <div class="list-group">
                                                    <% m.subs.forEach(function(s) { %>
                                                        <a href="/menu/subs?find=<%= s.name %>"
                                                           class="list-group-item list-group-item-action"><%= s.name %>
                                                            , <%= s.date.substring(0, 10) %></a>
                                                    <% }) %>
                                                </div>
                                            <% } %>



                                            <div class="row align-items-end">
                                                <div class="col">
                                                    <!-- Button trigger deleteMovie modal -->
                                                    <% if(permissions.dm){ %>
                                                        <a data-toggle="modal"
                                                           data-id="<%= m._id %>"
                                                           data-title="<%= m.name %>"
                                                           data-image="<%= m.image %>"
                                                           href="#deleteMovieModal"
                                                           class="open-DeleteMovieDialog btn btn-block btn-danger mt-2">
                                                            <i class="fas fa-trash-alt"></i> Delete
                                                        </a>
                                                    <% } %>
                                                </div>
                                                <div class="col">
                                                    <!-- Button trigger edit modal -->
                                                    <% if(permissions.um){ %>
                                                        <a data-toggle="modal"
                                                           data-id="<%= m._id %>"
                                                           data-name="<%= m.name %>"
                                                           data-premiered="<%= m.premiered.substring(0, 4) %>"
                                                           data-genres="<%= m.genres %>"
                                                           data-image="<%= m.image %>"
                                                           href="#editMovieModal"
                                                           class="open-EditMovieDialog btn btn-info btn-block mt-2">
                                                            <i class="fas fa-edit"></i> Edit
                                                        </a>
                                                    <% } %>
                                                </div>
                                            </div>


                                        </div>



                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
                <% include ./partials/pagination.ejs %>
        <% } %>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteMovieModal" tabindex="-1" role="dialog"
     aria-labelledby="deleteMovieModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteMovieModalLabel">Are you absolutely
                    sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>This action cannot be undone. This will permanently delete the <b><span/></b>,
                    from the database. </p>
                <p>Please type <b>delete <span/></b> to confirm.</p>
                <input
                        type="text"
                        name="confirm"
                        class="form-control"
                        placeholder="Enter confirmation here"
                />
            </div>
            <div class="modal-footer">
                <form action="/menu/deleteMovieForm" method="POST">
                    <input type="hidden" name="movieId" id="movieId" value="movieId"/>
                    <input type="hidden" name="title" id="title" value="title"/>
                    <input type="hidden" name="image" id="image" value="image"/>
                    <button type="submit" id="deleteMovie" class="btn btn-block btn-danger">
                        I understand the consequences, delete this movie
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editMovieModal" tabindex="-1" role="dialog"
     aria-labelledby="editMovieModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editMovieModalLabel">Edit Movie</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Edit Form -->
                <form action="/menu/editMovieForm" method="POST">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="title"><strong>Title</strong></label>
                                <input
                                        type="text"
                                        id="title"
                                        name="title"
                                        class="form-control"
                                        placeholder="Enter movie title"
                                />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="premiered"><strong>Premiered year</strong></label>
                                <input
                                        type="text"
                                        id="premiered"
                                        name="premiered"
                                        class="form-control"
                                        placeholder="Enter premiered year"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="genres"><strong>Genres</strong></label>
                                <input
                                        type="text"
                                        id="genres"
                                        name="genres"
                                        class="form-control"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="image"><strong>Image URL</strong></label>
                                <input
                                        type="text"
                                        id="image"
                                        name="image"
                                        class="form-control"
                                />
                            </div>
                        </div>
                    </div>

                    <input type="hidden" name="movieId" id="movieId" value="movieId"/>
                    <input type="hidden" name="image" id="image" value="image"/>
                    <button type="button" class="btn btn-secondary mr-1 float-right"
                            data-dismiss="modal">
                        Discard
                    </button>
                    <button type="submit" class="btn btn-info mr-1 float-right">
                        <i class="fas fa-edit"></i> Save Changes
                    </button>
                </form>
                <!-- End form -->
            </div>
        </div>
    </div>
</div>