<script type="text/javascript">

    $(document).on("click", ".open-DeleteMemberDialog", function () {
        let memberId = $(this).data('member-id');
        let memberName = $(this).data('member-name');
        $(".modal-footer #memberId").val(memberId);
        $(".modal-footer #memberName").val(memberName);
        $(".modal-body span").text(memberName);

        document.getElementById("deleteMember").disabled = true;

        /* event listener */
        document.getElementsByName("confirm")[0].addEventListener('change', doThing);


        /* function */
        function doThing() {
            if (document.getElementsByName("confirm")[0].value === ('delete ' + memberName))
                document.getElementById("deleteMember").disabled = false;
        }
    });

    $(document).on("click", ".open-EditMemberDialog", function () {
        let id = $(this).data('id');
        let name = $(this).data('name');
        let email = $(this).data('email');
        let city = $(this).data('city');

        $(".modal-body #id").val(id);
        $(".modal-body #name").val(name);
        $(".modal-body #email").val(email);
        $(".modal-body #city").val(city);

    });

</script>


<div class="row mt-5 justify-content-md-center">
    <div class="card-body">

        <h1 class="text-center mb-3">
            <i class="fas fa-paper-plane"></i> Subscriptions
        </h1>
        <% include ./partials/messages.ejs %>

        <a href="/menu/subs" class="btn btn-secondary mr-1 disabled">
            <i class="fas fa-share-square"></i> All Members
        </a>
        <% if(permissions.cs){ %>
            <a href="/menu/subs/addMember" class="btn btn-secondary">
                <i class="fas fa-plus-circle"></i> Add Member
            </a>
        <% } %>

        <div class="row row-cols-3 row-cols-md-3 g-3">
            <% members.forEach(function(member) { %>
                <div class="col">
                    <div class="card mt-2">
                        <div class="card-body">
                            <strong>Name:</strong> <%= member.name %><br>
                            <strong>Email:</strong> <%= member.email %><br>
                            <strong>City:</strong> <%= member.city %><br>

                            <p>
                                <button class="btn btn-primary btn-sm mt-2" type="button" data-toggle="collapse"
                                        data-target="#<%= member.ui %>" aria-expanded="false"
                                        aria-controls="collapseExample">
                                    Subscribe to new movie
                                </button>
                            </p>
                            <div class="collapse mt-2" id="<%= member.ui %>">
                                <div class="card">
                                    <div class="card-header">
                                        <strong>Add a new movie</strong>
                                    </div>
                                    <div class="card card-body">

                                        <form action="/menu/subs/addSubscription" method="POST">
                                            <input type="hidden" name="memberId" value="<%= member._id %>">
                                            <div class="form-group">
                                                <label for="name"><strong>Movie title</strong></label>
                                                <select class="form-control form-select-sm p-2 w-100"
                                                        aria-label=".form-select-sm" name="movieId" id="name">
                                                    <option selected>Open this select menu</option>
                                                    <% member.dropDownList.forEach(function(movie) { %>
                                                        <option value="<%= movie._id %>"><%= movie.name %></option>
                                                    <% }) %>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label for="date"><strong>Date</strong></label>
                                                <input
                                                        type="date"
                                                        id="date"
                                                        name="date"
                                                        class="form-control"
                                                        placeholder="Enter a date"
                                                />
                                            </div>
                                            <button class="btn btn-primary btn-sm mt-2" type="submit">
                                                Subscribe
                                            </button>
                                        </form>

                                    </div>
                                </div>
                            </div>
                            <br>
                            <% if(member.movies) { %>
                                <strong>Movies watched:</strong> <br> <br>
                                <div class="list-group">
                                    <% member.movies.forEach( function (movie) { %>

                                    <a href="/menu/movies?find=<%= movie.name %>"
                                       class="list-group-item list-group-item-action"><%= movie.name %>
                                        , <%= movie.date.substring(0, 10) %>
                                    <a>

                                    <% }) %>
                                </div>
                            <% } %>
                        </div>
                        <% if(permissions.ds || permissions.us){ %>
                            <div class="card-footer">
                                <% if(permissions.ds){ %>
                                    <!-- Button trigger deleteMember modal -->
                                    <a data-toggle="modal"
                                       data-member-id="<%= member._id %>"
                                       data-member-name="<%= member.name %>"
                                       href="#deleteMemberModal"
                                       class="open-DeleteMemberDialog btn btn-danger mr-1 float-right">
                                        <i class="fas fa-user-times"></i> Delete
                                    </a>
                                <% } %>
                                <% if(permissions.us){ %>
                                    <!-- Button trigger edit modal -->
                                    <a data-toggle="modal"
                                       data-id="<%= member._id %>"
                                       data-name="<%= member.name %>"
                                       data-email="<%= member.email %>"
                                       data-city="<%= member.city %>"
                                       href="#editMemberModal"
                                       class="open-EditMemberDialog btn btn-info mr-1 float-right">
                                        <i class="fas fa-user-edit"></i> Edit
                                    </a>
                                <% } %>
                            </div>
                        <% } %>
                    </div>
                </div>
            <% }) %>
        </div>


    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteMemberModal" tabindex="-1" role="dialog"
     aria-labelledby="deleteMemberModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteMemberModalLabel">Are you absolutely
                    sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>This action cannot be undone. This will permanently delete the <b><span/></b>,
                    from the database and all his subscriptions. </p>
                <p>Please type <b>delete <span/></b> to confirm.</p>
                <input
                        type="text"
                        name="confirm"
                        class="form-control"
                        placeholder="Enter confirmation here"
                />
            </div>
            <div class="modal-footer">
                <form action="/menu/subs/deleteMemberForm" method="POST">
                    <input type="hidden" name="memberId" id="memberId" value="memberId"/>
                    <input type="hidden" name="memberName" id="memberName" value="memberName"/>
                    <button type="submit" id="deleteMember" class="btn btn-block btn-danger">
                        I understand the consequences, delete this member
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editMemberModal" tabindex="-1" role="dialog"
     aria-labelledby="editMemberModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editMemberModalLabel">Edit Member</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Edit Form -->
                <form action="/menu/subs/editMemberForm" method="POST">
                    <div class="form-group">
                        <label for="name"><strong>Name</strong></label>
                        <input
                                type="text"
                                id="name"
                                name="name"
                                class="form-control"
                                placeholder="Enter member name"
                        />
                    </div>
                    <div class="form-group">
                        <label for="email"><strong>Email</strong></label>
                        <input
                                type="email"
                                id="email"
                                name="email"
                                class="form-control"
                                placeholder="Enter member email"
                        />
                    </div>
                    <div class="form-group">
                        <label for="city"><strong>City</strong></label>
                        <input
                                type="text"
                                id="city"
                                name="city"
                                class="form-control"
                                placeholder="Enter member city"
                        />
                    </div>

                    <input type="hidden" name="id" id="id" value="id"/>
                    <button type="button" class="btn btn-secondary mr-1 float-right"
                            data-dismiss="modal">
                        Discard
                    </button>
                    <button type="submit" class="btn btn-info mr-1 float-right">
                        <i class="fas fa-edit"></i> Save Changes
                    </button>
                </form>
                <!-- End form -->
            </div>
        </div>
    </div>
</div>